
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h1 class="text-center">Profile</h1>
		</div>
		<div class="modal-body">
			<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
			</span> {{user.email}} <br>
			<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-at fa-stack-1x fa-inverse"></i>
			</span> {{user.username}} <br>
			<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-lock fa-stack-1x fa-inverse"></i>
			</span> {{access_token}}
		</div>
	</div>
</div>